@media(min-width: 768px) and (max-width: 1388px)
{

html, body
{
    background-color : #290c50;    
    width: 70% ; /*800px; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu
{  
    display: flex;
    flex-direction: row;
    height: 20%; /*125px;*/
    
}

.ligne
{
    color:aliceblue
}

li:hover
{
    color: yellow;
}

nav
{
    display: flex;
    flex-direction: row;
    margin-left: 0% ;/*170px;*/
    list-style-type: none;
    padding: 0;
    font-size: 20% ;/* 17px;*/
    margin-right: 5%;
}

#d_pmn{
    width: auto;
    float: left;
    margin-right: 100%;

}
#pmn
{
    margin-left: 5%;/*100px; */
}

.ligne
{
    display: flex;
    flex-direction: row;
}

.colonne
{
    display: flex;
    flex-direction: column;
}

#c
{
    border: 1px solid #ccc;
    background-color: white;
}

#c:hover
{
    background-color: yellow;
}

#e:hover
{
    background-color: yellow;
}

#e
{
    border: 1px solid #ccc;
    background-color: white;
}


li 
{
    display: flex;
    padding:  50px 40px;
    text-decoration: none;
}

#texte
{
    position: absolute;
   top: auto; 
   width: auto;
   height: auto;
   font-size: auto;
   color: white;
   /*top: 680px;
    width: 700px;
    height: 150px;
    font-size: 400%;
    color: white;
    z-index: 2;
    */
}

#texte::after
{
   /* content: ' ';
    display: block;
    position: absolute;
    top: /* 50px;
    width: 700px;
    height: 175px;
    z-index: 1;
    opacity: 0.6;
    background-color: black; */
    display: block;
    position: absolute;
    top: auto;
    width: auto;
    height: auto;
    z-index: auto;
    opacity: auto;
}

#texte2
{
    position: absolute;
    top: 480px;
    width: 300px;
    height: 100px;
    font-size: 200%;
    left: 1650px;
    background-color: yellow;
    padding: 5px 5px;
}

.slideshow {
    position: relative;
    width: 1910px;
    height: 820px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.slide {
    position: absolute;
    width: 800px;
    height: 200px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 1910px;
    height: 820px;
}

.text {
    position: absolute;
    top: 700px;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    padding: 10px;
    font-size: 40px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    z-index: 2; /* Met les flèches au-dessus des images */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

}
@media (min-width:781px) and (max-width: 979px){
    #d_pmn{
        width: auto;
        float: left;
        margin-right: 100%;
    }
    }